In [4]:
import h2o
import pandas as pd

In [2]:
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 . connected.

--------------------------  ------------------------------------------------------------------
H2O cluster uptime:         2 hours 35 mins
H2O cluster timezone:       Asia/Kolkata
H2O data parsing timezone:  UTC
H2O cluster version:        3.28.0.3
H2O cluster version age:    1 month and 9 days
H2O cluster name:           H2O_from_python_ali_34mpj7
H2O cluster total nodes:    1
H2O cluster free memory:    269.8 Mb
H2O cluster total cores:    2
H2O cluster allowed cores:  2
H2O cluster status:         locked, healthy
H2O connection url:         http://localhost:54321
H2O connection proxy:       {'http': None, 'https': None}
H2O internal security:      False
H2O API Extensions:         Amazon S3, XGBoost, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python version:             3.7.4 final
--------------------------  ------------------------------------------------------------------

In [8]:
df=h2o.import_file("http://h2o-public-test-data.s3.amazonaws.com/smalldata/iris/iris_wheader.csv")

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [9]:
train,test=df.split_frame([0.8])

In [10]:
train.summary()

,sepal_len,sepal_wid,petal_len,petal_wid,class
type,real,real,real,real,enum
mins,4.3,2.0,1.1,0.1,
mean,5.798373983739838,3.0495934959349595,3.6869918699186988,1.1642276422764226,
maxs,7.9,4.4,6.9,2.5,
sigma,0.8295746233528662,0.43407598936996533,1.763610275784135,0.7627742808275175,
zeros,0,0,0,0,
missing,0,0,0,0,0
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
5,4.6,3.4,1.4,0.3,Iris-setosa
6,5.0,3.4,1.5,0.2,Iris-setosa
7,4.4,2.9,1.4,0.2,Iris-setosa
8,4.9,3.1,1.5,0.1,Iris-setosa
9,5.4,3.7,1.5,0.2,Iris-setosa

In [11]:
train.nrows

123

In [12]:
test.nrows

27

In [30]:
from h2o.estimators.naive_bayes import H2ONaiveBayesEstimator

In [31]:
df=H2ONaiveBayesEstimator()
df.train(['sepal_len','sepal_wid','petal_len','petal_wid'],'class',train)

naivebayes Model Build progress: |████████████████████████████████████████| 100%

In [32]:
df

Model Details
=============
H2ONaiveBayesEstimator :  Naive Bayes
Model Key:  NaiveBayes_model_python_1584241901922_3


Model Summary:

,,number_of_response_levels,min_apriori_probability,max_apriori_probability
0,,3.0,0.308943,0.349593

ModelMetricsMultinomial: naivebayes
** Reported on train data. **

MSE: 0.03419221032349463
RMSE: 0.1849113580164686
LogLoss: 0.11315163321987695
Mean Per-Class Error: 0.04218880534670008

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

   Iris-setosa  Iris-versicolor  Iris-virginica     Error     Rate
0         43.0              0.0             0.0  0.000000   0 / 43
1          0.0             40.0             2.0  0.047619   2 / 42
2          0.0              3.0            35.0  0.078947   3 / 38
3         43.0             43.0            37.0  0.040650  5 / 123

Top-3 Hit Ratios:

   k  hit_ratio
0  1    0.95935
1  2    1.00000
2  3    1.00000

In [33]:
p=df.predict(test)

naivebayes prediction progress: |█████████████████████████████████████████| 100%

In [34]:
p

predict,Iris-setosa,Iris-versicolor,Iris-virginica
Iris-setosa,1,1.6476e-13,1.80726e-20
Iris-setosa,1,7.77837e-19,7.48877e-26
Iris-setosa,1,1.37825e-10,7.67143e-18
Iris-setosa,1,6.38326e-17,5.58268e-24
Iris-setosa,1,4.57473e-17,2.66623e-24
Iris-setosa,1,8.93416e-17,5.60987e-24
Iris-setosa,1,4.08677e-17,4.00024e-24
Iris-versicolor,4.27812e-136,0.541564,0.458436
Iris-versicolor,6.17617e-78,0.99993,6.95608e-05
Iris-versicolor,3.93009e-77,0.999776,0.000224104

In [35]:
df.model_performance(test)

ModelMetricsMultinomial: naivebayes
** Reported on test data. **

MSE: 0.02017164233827319
RMSE: 0.1420269070925407
LogLoss: 0.061128372154698074
Mean Per-Class Error: 0.027777777777777776

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

   Iris-setosa  Iris-versicolor  Iris-virginica     Error    Rate
0          7.0              0.0             0.0  0.000000   0 / 7
1          0.0              8.0             0.0  0.000000   0 / 8
2          0.0              1.0            11.0  0.083333  1 / 12
3          7.0              9.0            11.0  0.037037  1 / 27

Top-3 Hit Ratios:

   k  hit_ratio
0  1   0.962963
1  2   1.000000
2  3   1.000000

In [39]:
df1=H2ONaiveBayesEstimator(laplace=1)

In [40]:
df1.train(['sepal_len','sepal_wid','petal_len','petal_wid'],'class',train)

naivebayes Model Build progress: |████████████████████████████████████████| 100%

In [41]:
df1.model_performance(test)

ModelMetricsMultinomial: naivebayes
** Reported on test data. **

MSE: 0.02016330642811785
RMSE: 0.14199755782448462
LogLoss: 0.06110096304871147
Mean Per-Class Error: 0.027777777777777776

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

   Iris-setosa  Iris-versicolor  Iris-virginica     Error    Rate
0          7.0              0.0             0.0  0.000000   0 / 7
1          0.0              8.0             0.0  0.000000   0 / 8
2          0.0              1.0            11.0  0.083333  1 / 12
3          7.0              9.0            11.0  0.037037  1 / 27

Top-3 Hit Ratios:

   k  hit_ratio
0  1   0.962963
1  2   1.000000
2  3   1.000000